.my-page-container
  .my-page-container--upper
    %h2 発送元・お届け先住所入力
  .my-page-container--lower
    .my-page-container--lower--inner
      = form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'step3'} do |f|
        .null-null
          %h5 お名前
          %span.null-false 必須
        = f.text_field :last_name, placeholder: "例)山田"
        = f.text_field :first_name, placeholder: "例)太郎"
        .null-null
          %h5 お名前カナ(全角)
          %span.null-false 必須
        = f.text_field :last_name_kana, placeholder: "例)ヤマダ"
        = f.text_field :first_name_kana, placeholder: "例)タロウ"
        .null-null
          %h5 郵便番号
          %span.null-false 必須
        = f.text_field :postal_code, :name => "zip01", :maxlength => "8", :onkeyup => "AjaxZip3.zip2addr(this,'','pref01','addr01');", :size => "10", :type => "text"
        .null-null
          %h5 都道府県
          %span.null-false 必須
        = f.text_field :prefecture, :name => "pref01", :size => "20", :type => "text"
        .null-null
          %h5 市区町村
          %span.null-false 必須
        = f.text_field :city, :name => "addr01", :size => "60", :type => "text"
        .null-null
          %h5 番地 
          %span.null-false 必須
        = f.text_field :house_number, placeholder: "例)青山1-1-1"
        .null-null
          %h5 建物名 
          %span.null-true 任意
        = f.text_field :building_name, placeholder: "例)柳ビル103"
        = f.button "次へ進む", class:"button"