-# = render '././shared/header'
%br
.my-page-container
  .my-page-container--upper
    %h2 会員情報入力
  .my-page-container--lower
    .my-page-container--lower--inner
      = form_for @user, url: step2_signup_index_path, method: :get, html: {class: 'step1'} do |f|
        .null-null
          %h5 ニックネーム
          %span.null-false 必須
        = f.text_field :nickname, placeholder: "例）メルカリ太郎"
        .null-null
          %h5 メールアドレス
          %span.null-false 必須
        = f.email_field :email, placeholder: "PC・携帯どちらでも可"
        .null-null
          %h5 パスワード
          %span.null-false 必須
        = f.password_field :password, placeholder: "7文字以上"
        .null-null
          %h5 パスワード（確認）
          %span.null-false 必須
        = f.password_field :password_confirmation, placeholder: "7文字以上"
        私はロボットではありませんボックス
        = f.submit "次へ進む", class: 'button'
      = link_to do
        %h6 本人情報の登録について
        %span >