.mypage__tab-container__info
  - @products.each do |product|
    = link_to mine_product_path(product), class:'info-link'  do
      .info-box
        .info-icon
          .mercari_info_icon{style: "background-image: url(#{product.product_images[0].image})"}
        .info-box-right
          .info-message
            = product.name
          .lower
            = fa_icon('heart-o')
            .howmany
              1
            = fa_icon('comment-o')
            .howmany
              1
            .info-status
              - if product.status == 'exhibit'
                .info-status__exhibit
                  = '出品中'
              - if product.status == 'stop'
                .info-status__stop
                  = '公開停止中'
              - if product.status == 'trade'
                .info-status__trading
                  = '取引中'
              - if product.status == 'sold'
                .info-status__sold
                  = '売却済み'