.mypage__tab-container__info
  - @products.each do |product|
    = link_to product_path(product), class:'info-link'  do
      .info-box
        .info-icon
          .mercari_info_icon{style: "background-image: url(#{product.product_images[0].image})"}
        .info-box-right
          .info-message
            = product.name
          .lower
            = fa_icon('heart-o')
            .howmany
              1
            = fa_icon('comment-o')
            .howmany
              1
            .info-status
              - if product.status == "出品中"
                .info-status__exhibit
                  =product.status
              - if product.status == "公開停止中"
                .info-status__stop
                  =product.status
              - if product.status == "取引中"
                .info-status__trading
                  =product.status
              - if product.status == "売却済み"
                .info-status__sold
                  =product.status