.mypage__tab-container__info
  - @products.each do |product|
    = link_to product_path(product), class:'info-link'  do
      .info-box
        .info-icon
          .mercari_info_icon{style: "background-image: url(#{product.product_images[0].image})"}
        .info-box-right
          .info-message
            = product.name
          .lower
            = fa_icon('heart-o')
            .howmany
              1
            = fa_icon('comment-o')
            .howmany
              1
            .info-status
              = product.status