.mypage-area
  .mypage__content
    .mypage--left
      .side-bar
        .side-bar--upper
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu__title マイページ
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu お知らせ
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu やることリスト
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu いいね！一覧
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品する
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品した商品-出品中
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品した商品-取引中
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品した商品-売却済み
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品した商品-取引中
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 出品した商品-過去の取引
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu ニュース一覧
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 評価一覧
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu ガイド
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu お問い合わせ
            %i.icon-arrow-right
        .side-bar--center
          .side-bar--lower__title
            メルペイ
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 残高・振込申請
            %i.icon-arrow-right
          = link_to root_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu ポイント
            %i.icon-arrow-right
        .side-bar--lower
          .side-bar--lower__title
            設定
          = link_to users_profile_path(current_user) ,class: 'side-bar-link' do
            %li.side-bar--upper__menu プロフィール
            %i.icon-arrow-right
          = link_to users_newuser3_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 発送元・お届け先住所変更
            %i.icon-arrow-right
          = link_to users_credit_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 支払い方法
            %i.icon-arrow-right
          = link_to users_mail_password_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu メール/パスワード
            %i.icon-arrow-right
          = link_to users_personal_information_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 本人情報
            %i.icon-arrow-right
          = link_to users_phone_number_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu 電話番号の確認
            %i.icon-arrow-right
          = link_to users_logout_path ,class: 'side-bar-link' do
            %li.side-bar--upper__menu ログアウト
            %i.icon-arrow-right
    .mypage--right
      .mypage--right__main
        .mypage--right--upper
          .mypage__user-icon
            = image_tag 'user_default.png', class: 'user-icon'
            .mypage__user-name
              = current_user.nickname
            .mypage__user-status
              評価
              %span 530000
              出品数
              %span 0
        .mypage__tab-container
          .mypage__tab-container__tab
            .mypage__tab-container__tab--left
              お知らせ
            .mypage__tab-container__tab--right
              やることリスト
          .mypage__tab-container__info
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
          .mypage__tab-container__lower
            = link_to 'root_rath', class:'info-index-btn' do
              .info-index-btn 一覧を見る
      .mypage__purchased-product
        .mypage__purchased-product__title
          購入した商品
        .mypage__purchased-product__tab-container
          .mypage__tab-container__tab
            .mypage__tab-container__tab--left
              取引中
            .mypage__tab-container__tab--right
              過去の取引
          .mypage__purchased-product__tab-container__content
            .mypage__purchased-product__tab-container__content__text
              = image_tag 'https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?39195692', class: 'mercari_info_icon'
              %br
              取引中の商品がありません