%header.header
  .header-container
    .header-container__upper
      .header-container__upper--logo
        =link_to products_path do
          = image_tag ("header-logo.png"), width: "160"
      .header-container__upper--search  
        %input{type: "text", placeholder: "何かお探しですか？"}
        = link_to "" do
          = fa_icon('search')
    .header-container__lower
      = render 'shared/find_by'
      .header-container__lower--right
        - unless user_signed_in?
          .new-user-resistration 
            = link_to "新規会員登録", new_user_registration_path
          .log-in 
            = link_to "ログイン", new_user_session_path
        - else
          .header-block
            = link_to new_user_registration_path, data: "いいね一覧" do
              .font-awesome
                = fa_icon('heart-o')
              .signed-in いいね一覧
          .header-block
            = link_to new_user_session_path do
              .font-awesome
                = fa_icon('bell-o')
              .signed-in お知らせ
          .header-block
            = link_to new_user_registration_path do
              .font-awesome
                = fa_icon('check')
              .signed-in やることリスト
          .header-block
            = link_to users_path do
              .font-awesome
                = fa_icon('user')
              .signed-in マイページ