.othersOfCategory-container
  .othersOfCategory-container--upper
    = link_to "#{@product.category.name} #{@product.category.parent.name}のその他の商品", "#"
  .othersOfCategory-container--lower
    %ul.products-top
      - if @others_of_category
        - @others_of_category.each do |product|
          %li.product
            = link_to product_path(product), class: "product__link" do
              .product__link--image{style: "background-image: url(#{product.product_images[0].image})"}
              .product__link--price
                = "￥#{product.price.to_s(:delimited)}"
              .product__link--name
                = product.name