.othersOfUser-container
  .othersOfUser-container--upper
    = link_to "#{@product.user.nickname}さんのその他の出品", "#"
  .othersOfUser-container--lower
    %ul.products-top
      - if @others_of_user
        - @others_of_user.each do |product|
          %li.product
            = link_to product_path(product), class: "product__link" do
              .product__link--image{style: "background-image: url(#{product.product_images[0].image})"}
              .product__link--price
                = "￥#{product.price.to_s(:delimited)}"
              .product__link--name
                = product.name