.product-container
  .product-container__inner
    .product-container__inner--upper
      %h2 サマーボーダーニット
      %p 『サマーボーダーニット』は、216回の取引実績を持つちはやさんから出品されました。ニット/セーター/レディースの商品で、大阪府から1~2日で発送されます。
    .product-container__inner--center
      .product-container__inner--center--left
        .imagekari
      .product-container__inner--center--right
        .tablearea
          %table
            %tr
              %th 出品者
              %td 
                %p 
                  = link_to "ちはや", "#"
                %p 評価
            %tr
              %th カテゴリー
              %td 
                = link_to "レディース", "#"
            %tr
              %th ブランド
              %td 
            %tr
              %th 商品のサイズ
              %td S
            %tr
              %th 商品の状態
              %td やや傷や汚れあり
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td ゆうゆうメルカリ便
            %tr
              %th 配送元地域
              %td 
                = link_to "大阪府", "#"
            %tr
              %th 発送日の目安
              %td 1~2日で発送
    .product-container__inner--lower
      .product-container__inner--lower--upper
        %h1 ￥999
        %span (税込)
        %p 送料込み
      .to-purchase-button
        = link_to "購入画面に進む", "#"
      .product-container__inner--lower--center
        ドルマンニットです。
        %br
        サマーニットなので涼しいです。
        %br
        体のラインを拾わず体型カバーできます。
        %br
        Sですが普段Lの方でも着れそうな気がします。
        %br
        %br
        画像2枚目で合わせているカーキのスカートも出品しています。
      .product-container__inner--lower--lower
        .how-many-likes
          = link_to "#" do
            %span ♡
            %p いいね!
            %span 0
        .houkoku
          = link_to "#" do
            %span 旗
            %p 不適切な商品の報告
        .torikumi
          = link_to "#" do
            %span 鍵
            %p あんしん・あんぜんへの取り組み

