.product-container
  .product-container__inner
    .product-container__inner--upper
      %h2 
        = @product.name
      %p 
        = "『#{@product.name}』は、216回の取引実績を持つ#{@product.user.nickname}さんから出品されました。#{@product.category.name}(ニット/セーター/レディース)の商品で、#{@product.prefecture.name}から#{@product.deliveryday.content}されます。"
    .product-container__inner--center
      .product-container__inner--center--left
        .image{style: "background-image: url(#{@product.product_images[0].image})"}
          - if @product.status == "取引中" || @product.status == "売却済み"
            .sold_triangle
            .sold
              SOLD
          - if @product.status == "公開停止中"
            .stop_listing
            .stop
              公開停止中
        .icon-area
          - @product.product_images.each do |image|
            .opacity.icon{style: "background-image: url(#{image.image})"}
      .product-container__inner--center--right
        .tablearea
          %table
            %tr
              %th 出品者
              %td 
                %p 
                  = link_to "#{@product.user.nickname}", "#"
                %p 評価
            %tr
              %th カテゴリー
              %td 
                %p
                  = link_to "#{@product.category.parent.parent.name}", "#"
                %p
                  = link_to "#{@product.category.parent.name}", "#"
                %p
                  = link_to "#{@product.category.name}", "#"
            %tr
              %th ブランド
              %td 
            %tr
              %th 商品のサイズ
              %td 
                = @product.size.content if @product.size
            %tr
              %th 商品の状態
              %td 
                = @product.condition.content
            %tr
              %th 配送料の負担
              %td 
                = @product.shipping_fee.content
            %tr
              %th 配送の方法
              %td 
                = @product.shipping_method.content
            %tr
              %th 配送元地域
              %td 
                = link_to "#{@product.prefecture.name}", "#"
            %tr
              %th 発送日の目安
              %td 
                = @product.deliveryday.content
    .product-container__inner--lower
      .product-container__inner--lower--upper
        %h1 
          = "￥#{@product.price.to_s(:delimited)}"
        %span (税込)
        %p 送料込み
        -# - if @product.user.id != current_user.id && @product.status == "出品中"
      .to-purchase-button
        - if user_signed_in?
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "購入する", "data-key": ENV['TEST_PUBLIC_KEY']} 
          -# = link_to '購入する', confirmation_product_path(@product), class: "product__link"
        - else
          = link_to '購入する', new_user_session_path, class: "to-purchase-button"
      .product-container__inner--lower--center
        = @product.detail
      .product-container__inner--lower--lower
        .how-many-likes
          = link_to "#" do
            %span ♡
            %p いいね!
            %span 0
        .houkoku
          = link_to "#" do
            %span 旗
            %p 不適切な商品の報告
        .torikumi
          = link_to "#" do
            %span 鍵
            %p あんしん・あんぜんへの取り組み

