.exhibit-header
  = link_to root_path do
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3466462615", class: 'header-mercari-logo'
.product-container
  .product-container--upper
    .my-page-container--upper
      %h2 購入内容の確認
  .product-container--center
    .inner-box
      .product-container--center--upper
        .image{style: "background-image: url(#{@product.product_images[0].image})"}
        .product-name
          = @product.name
      .product-price
        %h1
          = "￥#{@product.price.to_s(:delimited)}"
        %span
          送料込み
      .product-container--center--center
        .point-box
          ポイントはありません
        .payment-amount-box
          支払い金額
          %h1
            = "￥#{@product.price.to_s(:delimited)}"
      .product-container--center--lower
        .alert-message
          配送先と支払い方法の入力を完了してください。
        .to-purchase-button
          = form_tag(action: :pay, method: :post) do
            %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "購入する", "data-key": ENV['TEST_PUBLIC_KEY']} 
  .my-page-container--lower
    .shipping-method
      .inner-box
        %h1 配送先
        .shipping-postal_code
          = "〒#{current_user.postal_code}"
        .shipping-address
          = current_user.prefecture
          = current_user.city
          = current_user.house_number
          = current_user.building_name
        .user-name
          = current_user.last_name
          = current_user.first_name
        .edit-button
          = link_to '変更する',newuser3_users_path
    .method-payment
      .inner-box
        %h1 支払い方法
        .payment-card-number
          ************1234
        .payment-card-limit
          03/30
        .payment-card-brand
          = image_tag "visa.png", class:"visa-logo"
        .edit-button
          = link_to '変更する',root_path
