= render 'shared/header'
.container
  = render 'product'
  = render 'links_under_product'
  = render 'sns_links'
  = render 'others_of_user'
  = render 'others_of_category'
= render 'footer_pan'
= render 'shared/main_footer'